

<hibernate-configuration>
    <session-factory>
        <!-- Database Connection Settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/online_bank</property>
        <property name="hibernate.connection.username">online_bank</property>
        <property name="hibernate.connection.password">dani</property>
        <property name="hibernate.hbm2ddl.auto">update</property>


         <!-- Auto schema update -->



    </session-factory>
</hibernate-configuration>